@page "/"
@attribute [Authorize]

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudText Typo="Typo.h3">Payment points list</MudText>
    <MudButton Variant="Variant.Filled" Color="Color.Dark" @onclick="GetPaymentPointsAsync">Get payment points</MudButton>
    <MudButton Link="/create-point" Variant="Variant.Filled" Color="Color.Primary">Add new point</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Warning" @onclick="LogoutAsync">Logout</MudButton>
    <br />
    <br />
</MudContainer>

<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Is Enable</th>
            <th>Device url</th>
            <th>Operator name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (paymentPoints != null)
        {
            foreach (var point in paymentPoints)
            {
                <tr>
                    <td>@point.Id</td>
                    <td>@point.IsEnable</td>
                    <td>@point.DeviceUri</td>
                    <td>@point.OperatorName</td>
                    <td>
                        <button class="btn btn-success btn-sm">Edit</button>
                        <button class="btn btn-danger btn-sm" @onclick="() => DeletePaymentPointAsync(point.Id)">Delete</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
